/* 
    Document   : style
    Created on : 27.08.2014, 09:39:45
    Author     : karim
    Description:
        this is the main style sheets file
*/


/*apply these  style sheets only in landscape mode*/  
@media only screen and (orientation: landscape){



    .kreis{
        background-color: #64C463;
        position: absolute;
        width: 100px;
        height: 100px;
        border: 2px solid black;
        text-align: center;
        border-radius: 50%;
        display: table;
        font-size: 30px;
        font-weight: bold;
        vertical-align: middle;
        text-shadow: none;

    }


    .centeredWord{
        width:900px;
        height:400px;
        font-size: 120px;
        font-weight: bold;
        text-align: center;
        position:absolute;
        left:50%;
        top:50%;
        margin-top: -200px;
        margin-left: -450px;

    }


    .infoDiv{
        width:600px;
        height:300px;
        font-size: 45px;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        font-weight: bold;
        position:absolute;
        left:50%;
        top:50%;
        opacity: 0.7;
        margin-top: -150px;
        margin-left: -300px;
        background-color: #84D984;
        visibility: hidden;
    }


    .restCirclesCounter{
        text-shadow: none;
        font-size: 33px;
        font-weight: bold;
        position: absolute;
        top: 90%;
        left: 73%;
        border: white solid 1px;
    }


    .kreisSelected{
        background-color: #ffff00;
        position: absolute;
        width: 100px;
        height: 100px;
        border: 2px solid #ffcc00;
        text-align: center;
        border-radius: 50%;
        display: table;
        font-size: 30px;
        font-weight: bold;
        vertical-align: middle;
        text-shadow: none;

    }


    .testname{
        width: 500px;
        height: 300px;
        background-color: transparent;
        position: absolute;
        top:50%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 55px;
        font-weight: bold;
        text-align: center;
        text-shadow: none;
    }


    .startPage{
        background-image: url('images/bg/bg-wheels.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;
        height: auto;
        min-height:100%;
    }

    .introPage{
        background-image: url('images/bg/bg-standard.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;
        height: auto;
        min-height:100%;
    }

    .whitePage{
        background-image: url('images/bg/bg-white.png');
        background-color: transparent;
        background-size: 100%;
        width: 100%;
        height: 100%;
        height: auto;
        min-height:100%;
    }

    .taskEndText{
        font-size: 42px;
        color: black;
        text-shadow: none;
        text-align: center;
        font-weight: bold;  
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
    }

    .messageHintText{
        font-size: 32px;
        color: red;
        text-shadow: none;
        text-align: center;
        font-weight: bold;  
        /*        position: absolute;
                top: 50%;
                left: 10%;
                right: 10%;*/
    }

    .introText{
        font-size: 33px;
        color: black;
        text-shadow: none;
        text-align: justify;
        font-weight: bold;  
        position: absolute;
        top: 22%;
        left: 5%;
        right: 5%;
    }



    .introTextTop{
        font-size: 33px;
        color: black;
        text-shadow: none;
        text-align: justify;
        font-weight: bold;  
        position: absolute;
        top: 20%;
        left: 5%;
        right: 5%;
    }


    .introTextMiddle{
        font-size: 33px;
        color: black;
        text-shadow: none;
        text-align: justify;
        font-weight: bold;  
        position: absolute;
        top: 60%;
        left: 5%;
        right: 5%;
    }

    .introTextFull{
        font-size: 30px;
        color: black;
        text-shadow: none;
        text-align: justify;
        font-weight: bold;  
        position: absolute;
        top: 20%;
        left: 5%;
        right: 5%;
    }

    .defaultButton{
        /*background-image:url('images/btns-bg/bt-weiter.png');*/
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 88px;
        width: 245px;
        position: absolute;
        bottom: 1%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }


    .defaultButtonTop{

        background-size: 100%;
        background-repeat:no-repeat;       
        height: 88px;
        width: 245px;
        position: absolute;
        top: 35%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }

    .defaultButtonTopLeft{

        background-size: 100%;
        background-repeat:no-repeat;       
        height: 88px;
        width: 245px;
        position: absolute;
        top: 2%;
        left: 2%;
        font-size: x-large;
        text-shadow: none;
    }

    .defaultButtonMiddle{

        background-size: 100%;
        background-repeat:no-repeat;       
        height: 88px;
        width: 245px;
        position: absolute;
        top: 75%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }


    /*to use with the default phonegap button element*/
    /* .defaultButton{
        
            background-size: cover;      
            background-color: #64C463;      
            height: 80px;
            width: 237px;
            position: absolute;
            bottom: 1%;
            right: 5%;
            font-size: x-large;
            text-shadow: none;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }*/

    /*    .buttonImage{
            position: relative;
            top: -15px;
            left: -25px;
        }*/


    .defaultButton:active, .defaultButton:focus, .defaultButton.active{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        /*        position:absolute; 
                bottom: 1.8%;
                right: 4.8%;*/
        margin-bottom: 10px;
        margin-right: -5px;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .defaultButtonTopLeft:active, .defaultButtonTopLeft:focus, .defaultButtonTopLeft.active{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        /*        position:absolute; 
                bottom: 1.8%;
                right: 4.8%;*/
        margin-top: -5px;
        margin-left: 5px;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .defaultButtonTop:active, .defaultButtonTop:focus, .defaultButtonTop.active{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        /*        position:absolute; 
                bottom: 1.8%;
                right: 4.8%;*/
        margin-top: -10px;
        margin-right: 5px;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .defaultButtonMiddle:active, .defaultButtonMiddle:focus, .defaultButtonMiddle.active{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        /*        position:absolute; 
                bottom: 1.8%;
                right: 4.8%;*/
        margin-top: -10px;
        margin-right: 5px;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .defaultButtonClicked{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        position:absolute; 
        bottom: 1.8%;
        right: 4.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .defaultButtonTopLeftClicked{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        position:absolute; 
        top: 0.7%;
        left: 1.8%;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .defaultButtonTopClicked{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        /*        position:absolute; 
                bottom: 1.8%;
                right: 4.8%;*/
        margin-top: -10px;
        margin-right: 5px;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }


    .defaultButtonMiddleClicked{
        background-image:url('images/btns-bg/bt-weiter-hover.png');
        /*        position:absolute; 
                bottom: 1.8%;
                right: 4.8%;*/
        margin-top: -10px;
        margin-right: 5px;
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .infoIcon{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 70px;
        width: 71px;
        position: absolute;       
        left: 5%;
        top: 3px;

    }



    .genusButton{
        height: 60px;
        width: 270px;
        font-size: x-large;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ADF8A), to(#4CB24C));
        text-shadow: none;
    }

    .genusButton:hover{
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ADF8A), to(#4CB24C));
        opacity: 0.9;
    }

    .letterFragment{
        width: 70px;
        height: 100px;
        border: 2px solid;
        display: inline-block;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8ADF8A), to(#4CB24C));
        text-align: center;
        text-shadow: none;
        vertical-align: middle;
        font-size: 70px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-left: 20px;
    }


    .yesButton{
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 88px;
        width: 245px;
        position: absolute;
        top: 80%;
        right: 5%;
        font-size: x-large;
        text-shadow: none;
    }



    .yesButton:active, .yesButton:focus, .yesButton.active{
        background-image:url('images/btns-bg/bt-ja-hover.png');
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        position:absolute; 
        top: 80.2%;
        right: 4.8%;
    }


    .noButton{        
        background-size: 100%;
        background-repeat:no-repeat;       
        height: 88px;
        width: 245px;
        position: absolute;
        top: 80%;
        left: 5%;
        font-size: x-large;
        text-shadow: none;
    }



    .noButton:active, .noButton:focus, .noButton.active{
        background-image:url('images/btns-bg/bt-nein-hover.png');
        background-image: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        position:absolute; 
        top: 80.2%;
        left: 5.2%;
    }

    .wordPresented {
        display: inline;
        font-size: 110px;
        position: absolute;
        margin-top: 20%;
        margin-left: 10%;               
        background-color: transparent;
        position: absolute;
        top:50%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;        
        font-weight: bold;
        text-align: center;
        text-shadow: none;

    }


    .bigLetter{
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
    }

    .genusList{
        list-style-type: none;
    }


    .centredDiv
    {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 85px;
        overflow: hidden;
        text-align: center;

    }

    .hintText{
        position: absolute;
        top: 1%;
        left: 2%;
        right: 2%;
        text-align: center;
    }

    .selectedImage{
        opacity: 0.7;
        box-shadow: 3px 3px 3px 3px #64C463;
        border:2px solid #64C463;
        width: 280px;
        height: 280px;

    }

    .borderedTd{

        border:5px solid orange;
        position: relative;
        width: 333px;
        height: 333px;

    }


    .targetFieldDemo{
        border:1px solid black; 
        min-width: 195px;
        min-height: 200px;
        width: 195px;
        height: 200px;

    }


    .targetField{
        border:1px solid black; 
        min-width: 175px;
        min-height: 180px;
        width: 175px;
        height: 180px;

    }

    .targetFieldSmall{
        border:1px solid black; 
        min-width: 175px;
        min-height: 180px;
        width: 175px;
        height: 180px;

    }

    .origFieldDemo{
        border:1px solid white;
        min-width: 195px;
        min-height: 200px;
        width: 195px;
        height: 200px;
    }

    .picField{
        border:2px solid white;
        min-width: 280px;
        min-height: 280px;
        width: 280px;
        height: 280px;
    }


    .origField{
        border:1px solid white;
        min-width: 175px;
        min-height: 180px;
        width: 175px;
        height: 180px;
    }

    .origFieldSmall{
        border:1px solid white;
        min-width: 175px;
        min-height: 180px;
        width: 175px;
        height: 180px;
    }

    .emptyImage{
        border:1px solid white;
        position: relative;
        width: 195px;
        height: 200px; 
    }

    .gapField{
        border:0px solid white;
        position: relative;
        width: 700px;
        height: 10px; 
    }

    .contentRow{
        position: relative;
        width: auto;
        height: auto;
    }

    .gapRow{
        position: relative;
        width: 700px;
        height: 10px;
    }

    .unborderedImage{

        border:0px solid black;
        position: relative;
        width: 333px;
        height: 333px;
        z-index: 800;
    }

    .unborderedTd{

        border:1px solid black;
        position: relative;
        width: 333px;
        height: 333px;

    }


    .imageTile{
        position: relative;
        z-index: 500;
    }



    .borderedDiv{

        width: 333px;
        height: 333px;
        border:5px solid orange;

        /*z-index: 20;*/
    }



    .tableWithImagesDemo{

        border-collapse:separate; 
        border-spacing: 1em;
        margin-top: 100px;
        width: 700px;

    }


    .tableWithImagesTask1{
        border-collapse:separate; 
        border-spacing: 1em;
        margin: 0 auto;
        width: 533px; 
    }

    .tableWithImagesTask2{
        border-collapse:separate; 
        border-spacing: 1em;
        margin: 0 auto;
        width: 712px; 
    }

    .tableWithImagesTask3{
        border-collapse:separate; 
        border-spacing: 1em;
        margin: 0 auto;
        width: 712px; 
    }

    .tableWithImagesTask4{
        border-collapse:separate; 
        border-spacing: 1em;
        margin: 0 auto;
        width: 895px; 
    }

    .tableWithImagesTask5{
        border-collapse:separate; 
        border-spacing: 1em;
        margin: 0 auto;
        width: 895px; 
    }

    .tableWithImagesTask6{
        border-collapse:separate; 
        border-spacing: 1em;
        margin: 0 auto;
        width: 895px; 
    }

    .borderedTargetField{

        border:5px solid orange;
        position: relative;
        z-index: 50;
    }

    .borderedTargetField_Correct{

        border:5px solid orange;
        position: relative;
        z-index: 700;
    }

}

root { 
    display: block;
}

